paper.aux
paper.bbl
paper.blg
paper.fdb_latexmk
paper.fls
paper.log
paper.out
*.pdf
paper.synctex.gz
/results
pdflatex(.*)
paper_example.aux
paper_example.bbl
paper_example.blg
paper_example.fdb_latexmk
paper_example.fls
paper_example.log
paper_example.out
paper_example.pdf
paper_example.synctex.gz
manifest.toml
.vscode/settings.json
scripts/index_process.psd
Manifest.toml
